export(registerDoMPI, startMPIcluster, clusterSize, closeCluster,
    dompiWorkerLoop, openMPIcluster, sinkWorkerOutput, getDoMpiCluster,
    setRngDoMPI, exportDoMPI)
S3method(clusterSize, mpicluster)
S3method(closeCluster, mpicluster)
import(foreach)
import(iterators)
import(utils)
import(parallel)
import(compiler)
import(Rmpi)
